<div class="admin-container">
  <nz-layout class="admin-content">
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
      <div class="logo"></div>
      <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
        <li nz-menu-item nz-tooltip
            nzPlacement="right"
            [nzTitle]="isCollapsed ? 'Home' : ''"
            nzSelected>
          <i nz-icon nzType="mail"></i>
          <span>Home</span>
        </li>
        <li nz-submenu nzTitle="Usuarios" nzIcon="user">
          <ul>
            <li nz-menu-item>Usuarios Activos</li>
          </ul>
        </li>
        <li nz-submenu nzTitle="Facturación" nzIcon="credit-card">
          <ul>
            <li nz-menu-item> Comprar Aplicaciones </li>
            <li nz-menu-item> Aplicaciones Activas </li>
            <li nz-menu-item> Recibos y Pagos </li>
          </ul>
        </li>
        <li nz-submenu nzTitle="Soporte" nzIcon="team">
          <ul>
            <li nz-menu-item> Generar Requerimiento </li>
            <li nz-menu-item> Mis Requerimientos </li>
          </ul>
        </li>
        <li nz-menu-item
            nz-tooltip
            nzPlacement="right"
            [nzTitle]="isCollapsed ? 'Setup' : ''">
          <i nz-icon nzType="setting"></i>
          <span>Setup</span>
        </li>
        <li nz-menu-item
            nz-tooltip
            nzPlacement="right"
            [nzTitle]="isCollapsed ? 'Detalles de Cuenta' : ''">
          <i nz-icon nzType="file"></i>
          <span>Detalles de Cuenta</span>
        </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-header>
        <i
          class="trigger"
          nz-icon
          [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          (click)="isCollapsed = !isCollapsed"
        ></i>
      </nz-header>
      <nz-content>
        <nz-breadcrumb>
          <nz-breadcrumb-item>Home</nz-breadcrumb-item>
        </nz-breadcrumb>
        <div class="inner-content">
            {{ 'welcomeMessage' | translate }}
        </div>
      </nz-content>
      <nz-footer>©2019 Olympus</nz-footer>
    </nz-layout>
  </nz-layout>
</div>

